extends base

//- block append head
//-   link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")

block content
  p This is about page
  img.portrait(src="/assets/img/me.jpg", alt="author")